footer {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

footer p {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    font-size: 14px;
    color: #959595
}

footer a{
    color: #337ab7;
}

footer a:hover{
    color: #337ab7;
    text-decoration: underline;
}

